﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GetPrice.aspx.cs" Inherits="GetPrice" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>Ödeme yapılıyor ...</title>
    <style type="text/css">
        body { background-color: #ffffff; text-align: center; margin: 0px; padding: 0px; font-family: Arial, Verdana; }
        #container { width: 500px; padding: 20px; margin: auto; margin-top: 50px; border: 1px solid #cccccc; font-size: 16px; }
        #hidden { display:none; }
    
    </style>    
</head>
<body onload="document.payForm.submit();">
<!--body-->
		
		    <div id="container">
		            Onay sayfasına yönlendiriliyorsunuz lütfen bekleyiniz..
		    </div>
            <div id="hidden">
            <asp:Literal ID="ltrHidden" runat="server"></asp:Literal>		
            </div>								
		
	</body>
</html>
