﻿/* March 2017 - Kadrius */
body {
    background: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    margin: 0 0 0 0;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: #737980;
}

    a img {
        border: none;
    }

div.clr, div.clear {
    height: 1px;
    clear: both;
    overflow: hidden;
}

div.clr2 {
    height: 0px;
    clear: both;
    overflow: hidden;
}

h1, h2, h3, h4, ul {
    margin: 0px;
    padding: 0px;
    margin-bottom:10px;
}

h1, h2, h3, h4 {
    font-size: 12px;
}

ul li {
    margin-left: 25px;
}

.img-responsive {
    display: inline-block;
}

.btn {
    border-radius: 0px;
    border: none;
    font-size: 12px;
    padding: 10px 55px;
    color: #fff;
}

.btn-default {
    background: #ebeef0;
    color: #737980;
}

.btn-primary {
    background: #3e2772;
    font-weight: 700;
    border: 2px solid #3e2772;
}

    .btn-primary:hover {
        background-color: transparent;
        color: #3e2772;
        border: 2px solid #3e2772;
    }

div#egitimArama {
    position: absolute;
    z-index: 3;
    width: 100%;
    padding-top: 150px;
}

    div#egitimArama .container {
        padding: 0 200px;
    }

.aramaIcon {
    position: absolute;
    z-index: 4;
    right: 30px;
    top: 5px;
    font-size: 26px;
    color: #fff;
}

div#egitimArama input {
    background: rgba(255,255,255,0.2) !important;
    padding: 25px 0 25px 20px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    color: #fff;
    outline: none;
}

    div#egitimArama input:focus {
        box-shadow: none;
    }

    div#egitimArama input::-webkit-input-placeholder {
        color: #ededed;
    }

    div#egitimArama input::-moz-placeholder {
        color: #ededed;
    }

    div#egitimArama input:-ms-input-placeholder {
        color: #ededed;
    }

    div#egitimArama input:-moz-placeholder {
        color: #ededed;
    }


div#egitimArama .btn {
    background: rgba(255,255,255,0.2) !important;
    padding: 12px 15px;
    font-size: 18px;
    color: #fff;
    outline: none;
    margin-left: 0;
}

div#slider {
    height: 300px;
}

    div#slider .flickity-page-dots {
        position: absolute;
        bottom: 30px;
    }

        div#slider .flickity-page-dots .dot {
            background: #fff;
            margin: 0 4px;
        }

    div#slider a {
        display: block;
    }

.ara-Resim span {
    display: inline-block;
    width: 80px;
    overflow: hidden;
}

.ara-Resim img {
    height: 50px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 25px;
}

#egitimArama .easy-autocomplete-container ul {
    background: none;
    border-top: none;
    border-radius: 25px;
    overflow: hidden;
}

    #egitimArama .easy-autocomplete-container ul li {
        margin-left: 0;
        color: #fff;
        border: none;
        background: rgba(0,0,0,0.2);
        padding: 10px 10px;
    }

        #egitimArama .easy-autocomplete-container ul li.selected {
            background: rgba(0,0,0,0.3);
        }

.container {
    max-width: 970px;
}

.header {
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    padding-top: 15px;
    transition: all 0.5s;
}

.headeractive {
    background: linear-gradient(45deg, #3f2772 0%,#c32881 100%);
    transition: all 0.5s;
}

.header .logo {
    float: left;
    margin: 0px 0 0 0px;
    //background: url(/static/images/logo.png) no-repeat top left;
    width: 220px;
    height: 55px;
    //text-indent: -999px;
    overflow: hidden;
}
/*
.headeractive .logo {
    background: url(/static/images/logo.png) no-repeat top left;
    transition: all 0.5s;
}*/

.header-right {
    float: right;
    height: 60px;
}

    .header-right a {
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
        padding: 5px 20px;
    }

        .header-right a:hover {
            background: #fff;
        }

#page-Content {
    min-height: 100px;
    background: #f5f5f5;
}

#slider {
    margin-bottom: 20px;
}

    #slider img {
        width: 100%;
    }

.baslik1 {
    font-size: 20px;
}

.baslik2 {
    font-size: 26px;
    font-weight: 600;
}

#egitimBaslik {
    ;
}

    #egitimBaslik h1 {
        padding-bottom: 4px;
        line-height: 35px;
    }

    #egitimBaslik .baslik2 {
        margin-top: 0px;
    }

.egitim {
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 20px;
    transition: all 0.5s;
}

    .egitim:hover {
        box-shadow: rgba(0,0,0,0.3) 0px 5px 50px;
    }

a#toggle {
    display: none;
    width: 52px;
    height: 44px;
    margin: 0 0 0 15px;
    padding: 20px 10px 10px 10px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 15px;
}

    a#toggle span:after,
    a#toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    a#toggle span:after {
        top: 9px;
    }

    a#toggle span {
        position: relative;
        display: block;
    }

        a#toggle span,
        a#toggle span:after,
        a#toggle span:before {
            width: 100%;
            height: 5px;
            background-color: #fff;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }

    a#toggle.on span {
        background-color: transparent;
    }

        a#toggle.on span:before {
            transform: rotate(45deg) translate(5px, 5px);
            background-color: #1e4e9d;
        }

        a#toggle.on span:after {
            transform: rotate(-45deg) translate(7px, -8px);
            background-color: #1e4e9d;
        }

    a#toggle.on + #menu {
        opacity: 1;
        visibility: visible;
    }

    a#toggle:hover {
        background: #3e2772;
    }

    a#toggle.on {
        background: #fff;
    }

#btnTumEgitimler {
    margin-bottom: 20px;
    background: #3e2772;
    color: #fff;
    border: 2px solid #3e2772;
    font-weight: 700;
}

    #btnTumEgitimler:hover {
        background-color: transparent;
        color: #3e2772;
    }

.egitim-preview {
    height: 160px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

    .egitim-preview .img-responsive {
        transition: all 0.2s;
    }

.egitim:hover .egitim-preview img {
    transform: scale(1.1);
}

.egitim-aciklama {
    min-height: 130px;
}

.egitim-kurum {
    font-size: 14px;
    background: #3e2772;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.egitim-baslik {
    font-size: 18px;
    line-height: 25px;
    color: #000;
    padding: 10px;
}

.egitim-ucret {
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
    color: #fff;
    background: #c32881;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.egitim-sertifika {
    padding: 10px 10px 0 0px;
}

.egitim-kurumlogo {
    text-align: center;
    padding-bottom: 15px;
    padding-left: 10px;
}

.kurum-resim {
    margin-top: -5px;
    margin-right: 5px;
}

footer {
    clear: both;
    margin-top: 30px;
}

#copyright {
    margin-top: 15px;
    padding-bottom: 30px;
}

.footerpad {
    padding-top: 10px;
}

.social-icons-list {
    text-align: right;
    padding-top: 5px;
}

    .social-icons-list a {
        background: #3e2772;
        border-radius: 25px;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
        color: #fff;
    }

        .social-icons-list a span {
            display: none;
        }

        .social-icons-list a:hover {
            background: #c32881;
        }

.egitimUcreti {
    font-size: 18px;
    padding: 5px 0 10px 0;
}

    .egitimUcreti span {
        font-weight: 700;
        color: #3e2772;
    }

        .egitimUcreti span.krediKarti {
            font-size: 14px;
        }
span.indirim {
    font-size: 18px;
    font-weight: bold;
    color: #c32881;
}
span.indirimliFiyat {
    font-size: 18px;
    font-weight: bold;
    color: #c32881;
    text-decoration: line-through;
}
span.AyaOzelFiyat {
    font-weight: 700;
    color: #3e2772;
    font-size:15px;
}

.egitimBilgi {
    font-size: 16px;
    padding: 0 0 5px 0;
    margin-bottom: 0px;
    /* border-bottom: 1px solid #3e2772; */
    font-weight: bold;
    background: linear-gradient(45deg, #3f2772 0%,#c32881 100%);
    width: 234px;
    text-align: center;
    padding-top: 10px;
    color: white;
    border: 1px solid #3e2772;
    border-radius: 25px 25px 25px 25px;
}

.egitimKayit {
    clear: both;
    padding-top: 5px;
}

    .egitimKayit a, #egitimKayit2 a {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        background-color: #3e2772;
        border: 2px solid #3e2772;
    }

        .egitimKayit a:hover, #egitimKayit2 a:hover {
            color: #3e2772;
            font-weight: 600;
            font-size: 18px;
            background-color: transparent;
        }

#egitimResim {
    overflow: hidden;
}

    #egitimResim img {
        height: 185px;
    }

#egitimAciklama {
    margin: 20px 0;
    font-size: 15px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

#egitimDetay {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
}

#egitimKayit2 {
    padding: 0px 0;
}

    #egitimKayit2 .btn {
        width: 100%;
    }

.egitimUcreti2 {
    border: 2px solid #3e2772;
    border-left: 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

    .egitimUcreti2 span {
        font-weight: 700;
        color: #3e2772;
    }

        .egitimUcreti2 span.krediKarti {
            font-size: 14px;
        }

.krediKarti2 {
    border-left: 2px solid #3e2772;
    border-right: 0;
}

.contact-form {
    padding: 0;
}

.title {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 15px;
}

label {
    font-weight: 400;
}

.required {
    font-style: italic;
    padding-left: 10px;
    color: #890061;
    font-size: 13px;
}

#page_container {
    padding-top: 120px;
    padding-bottom: 50px;
}

.page-row {
    margin: 0 200px;
}

.form-white {
    background: #fff;
    padding: 20px;
    border-top: 2px solid #890061;
    margin-bottom: 20px;
    font-size: 14px;
}

.sayfaDetay {
    background: #fff;
    padding: 50px;
    border-top: 2px solid #890061;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
}

.checkBoxKadrius {
    position: relative;
    margin: 15px 0;
    border-radius: 2px;
    display: inline-block;
}

    .checkBoxKadrius label {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        background: #fff;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
        border-radius: 5px;
        border: 1px solid #ecedf1;
    }

        .checkBoxKadrius label:after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0px;
            left: 0px;
            background: url(/static/images/check.png) no-repeat 2px 4px #3e2772;
            opacity: 0;
            border-radius: 4px;
        }

        .checkBoxKadrius label:hover::after {
            opacity: 0.3;
        }

    .checkBoxKadrius input[type=checkbox] {
        visibility: hidden;
        margin: 0 10px 0 0;
    }

        .checkBoxKadrius input[type=checkbox]:checked + label:after {
            opacity: 1;
        }

.basvuruError {
    background: #FFCFE7;
    color: #3e2772;
}

    .basvuruError ul {
        padding: 10px 15px;
    }

        .basvuruError ul li {
            padding: 5px 0;
            font-weight: 700;
        }

.form-iletisim {
    padding-top: 0px;
}

    .form-iletisim .input-group {
        margin-bottom: 15px;
    }

        .form-iletisim .input-group .form-control {
            background: #fff;
            border: none;
        }

    .form-iletisim .input-group-addon {
        background: #fff;
        border: none;
        color: #c6c6c6;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    }

    .form-iletisim .input-group .form-control:focus {
        background: #fff;
        -webkit-box-shadow: inset 0 1px 1px rgba(29, 206, 108,.05), 0 0 8px rgba(29, 206, 108, .5);
        box-shadow: inset 0 1px 1px rgba(29, 206, 108,.5), 0 0 8px rgba(29, 206, 108, .5);
    }

    .form-iletisim #inputMesaj .input-group-addon {
        padding-top: 10px;
        vertical-align: top;
    }

.btnCustom {
    border: 2px solid #3e2772;
    color: #fff;
    padding: 10px 30px;
    background: #3e2772;
    font-weight: 600;
}

    .btnCustom:hover {
        background-color: transparent;
        color: #3e2772;
    }

.iletisimAdres {
    padding-top: 15px;
}

.checkbox {
    padding: 10px 20px;
}


@media screen and (max-width:1000px) and (orientation:landscape) {
    div#egitimArama .container {
        padding: 0 100px;
    }

    .egitim-preview img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    a#toggle {
        display: block;
    }

    #slider {
        display: none;
    }

    .header-right {
        display: none;
        height: initial;
    }

        .header-right a {
            display: block;
            margin-top: 0;
            padding: 10px 0;
        }

    #egitimArama {
        display: none;
    }
    .egitimBilgi {
        width: 100%;
        text-align: center;
    }
    .header {
        height: initial;
        background: linear-gradient(45deg, #3f2772 0%,#c32881 100%);
        transition: all 0.5s;
        padding: 15px 0;
    }

        .header .logo {
            float: none;
            clear: both;
            display: block;
        }

    .container {
        max-width: 100%;
    }

    .header-right {
        float: none;
        clear: both;
    }

    #page-Content {
        padding-top: 100px;
    }

    #page_container {
        padding-top: 0px;
    }

    .egitim-preview img {
        width: 100%;
    }

    #btnTumEgitimler {
        display: none;
    }

    #egitimResim, #egitimBaslik, .egitimUcreti, .indirimDiv {
        text-align: center;
        margin-bottom: 10px;
    }

    .egitimKayit {
        text-align: center;
        margin-bottom: 10px;
    }

    .egitimUcreti2 {
        margin: 0 15px;
        border-left: 2px solid #3e2772;
        border-right: 2px solid #3e2772;
    }

    #egitimKayit2 {
        margin: 0 15px;
    }

    #ftLogo {
        text-align: center;
        margin-bottom: 10px;
    }

    .footerpad {
        margin-bottom: 15px;
    }

        .footerpad a {
            display: inline-block;
            line-height: 25px;
        }

    .social-icons-list {
        text-align: center;
    }

    .page-row {
        margin: 0px;
    }
}
