﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Administrator/Content/MasterPage.master" AutoEventWireup="true" CodeFile="sikayetgelen.aspx.cs" Inherits="Administrator_sikayetgelen" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCss" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpContent" Runat="Server">
     <div class="container">
                    <div class="row">
                        
                        </div>
                    </div>
                </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphJs" Runat="Server">
 
</asp:Content>