﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterApp.master.cs" Inherits="Content_MasterApp" %>

<!DOCTYPE html>

<html>
<head runat="server">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="all" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#3e2772" />
    <meta name="msapplication-navbutton-color" content="#3e2772" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#3e2772" />
    <link rel="icon" href="/static/images/favicon-16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/static/images/favicon-32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/static/images/favicon-48.png" sizes="48x48" type="image/png" />
    <link rel="icon" href="/static/images/favicon-62.png" sizes="62x62" type="image/png" />
    <link rel="icon" href="/static/images/favicon-192.png" sizes="192x192" type="image/png" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/Kariyer.css" rel="stylesheet" />
    <asp:Literal ID="ltrCss" runat="server"></asp:Literal>

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
  <asp:Literal ID="ltrHeader" runat="server"></asp:Literal>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-container">
                        <a href="/" class="logo">
                            <asp:Literal ID="ltrLogo" runat="server"></asp:Literal>
                            basvuru.uludag.edu.tr
                        </a>
                    </div>
                    <a href="javascript:void(0);" id="toggle"><span></span></a>
                    <div class="header-right">
                        <a class="btn" href="/iletisim"><strong><i class="fa fa-comments"></i>&nbsp;İletişim</strong></a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="page-Content">
            <asp:ContentPlaceHolder ID="cphC" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2" id="ftLogo">
                            <asp:Literal ID="ltrFlogo" runat="server"></asp:Literal>
                        </div>
                        <div class="col-md-8 text-center footerpad">
                            <%--<a href="/sayfa-1-Hakkimizda">Hakkımızda</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						    <a href="/sayfa-4-mesafeli-satis-sozlesmesi">Mesafeli Satış Sözleşmesi</a><br />
                            <a href="/sayfa-6-teslimat-ve-iade-sartlari">Teslimat ve İade Şartları</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						    <a href="/sayfa-5-gizlilik-politikamiz">Gizlilik Politikamız</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						    <a href="/iletisim">İletişim</a>--%>
                        </div>
                        <div class="col-md-2">
                           <%-- <div class="social-icons-list">
                                <%= SiteOperations.AyarGetir("FacebookURL").Length > 10 ? "<a href='"+SiteOperations.AyarGetir("FacebookURL")+"' target='_blank' title='Facebook Sayfamız'><i class='fa fa-facebook'></i><span>Facebook</span></a>":"" %>
                                <%= SiteOperations.AyarGetir("TwitterURL").Length > 10 ? "<a href='"+SiteOperations.AyarGetir("TwitterURL")+"' target='_blank' title='Twitter Sayfamız'><i class='fa fa-twitter'></i><span>Facebook</span></a>":"" %>
                            </div>--%>
                        </div>
                    </div>
                </div>
                <div class="row" id="copyright">
                    <div class="col-md-12 text-center">
                        &copy; Copyright <%# DateTime.Now.Year %> <asp:Literal ID="ltrPageName" runat="server"></asp:Literal>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/static/scripts/jquery-3.1.1.min.js"></script>
        <script src="/static/scripts/bootstrap.min.js"></script>
        <script src="/static/scripts/KariyerKampusum.js"></script>
    </form>
</body>
</html>
